.App {
  text-align: center;
}


.Storeimg{
  width: 100%;
}

.Product_List {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.Product img { 
  width: 500px;
  height: 500px;
}

